body{
    background-color: #DFD5A5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.744);
    color: white;
    display: flex;
    height:fit-content;
    padding: 10px;
    gap: 50px;
    border-radius: 10px;
    align-items: center;
}
.song-title{
    font-size: 17px;
    font-style: oblique;
}  
.estado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.header {
display: flex;
justify-content: space-around;
align-items: center;
background: #333;
color: white;
padding: 10px;
}

.menu{
      display: flex;
      gap: 20px;
}

.hamburger {
      display: none;
      font-size: 24px;
      cursor: pointer;
    }

@media (max-width: 768px) {
    .menu {
    display: none; /* ocultar menú normal */
    }

    .hamburger {
    display: block;
    }

    .menu.active {
    display: flex;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    }

}
