body{
background: #333;
margin:0px;
}

.header {
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    padding: 10px;
    text-align: right;
}

.header div{
    margin-right: 40px;
}

.menu{
  display: flex;
  gap: 20px;
  justify-content: flex-end; 
  margin-right: 40px;   

}
.menu a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}
.menu a:hover{
    border-bottom: 2px solid  #543558;
    color:black;
    transition: all 0.2s ease;
}

.hamburger {
      display: none;
      position: relative;
      left: 0;
      font-size: 24px;
      cursor: pointer;
    }

@media (max-width: 768px) {
  .menu {
    position: fixed;
    inset: 0;
    background-color: wheat;
    display: grid;
    place-content: center;
    gap: 2rem;
    justify-items: center;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
    z-index: 101;
  }


  .menu.active {
    transform: translateX(0); 
    margin: 0;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
    z-index: 102;
    position: relative;
  }


  .menu a {
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
    align-items: center;
  }

  .menu a:hover {
    color: #543558;
    transition: all 0.2s ease;
  }
}



.footer {
    color: rgb(102, 102, 102);
    text-align: left;
    bottom: 0;
    width: 60%;
    position: fixed;          
    bottom: 0;
    left: 50%;               
    transform: translateX(-50%);
}

.media{
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.iconos{
    color: #b2b5bc86;
    transition: all 0.3s ease;
    cursor: pointer;
}

.iconos:hover{
    color: #543558;  
    transform: scale(1.3);
}