body{
background: #333;
margin:0px;
}
.container {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.744);
    color: white;
    display: flex;
    height:fit-content;
    padding: 10px;
    gap: 45px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    align-items: center;
}
.song-title{
    font-size: 17px;
    font-style: oblique;
}  
.estado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.header {
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    padding: 10px;
    text-align: right;
}

.header div{
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    margin-right: 40px;
}

.menu{
      display: flex;
      gap: 20px;

}
.menu a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}
.menu a:hover{
    border-bottom: 2px solid  rgb(149, 94, 94);
    color:black
}

.hamburger {
      display: none;
      position: relative;
      left: 0;
      font-size: 24px;
      cursor: pointer;
    }

@media (max-width: 768px) {
    .menu {
    display: none;
    }

    .hamburger {
    display: block;
    }

    .menu.active {
    display: flex;
    flex-direction: column;
    background: #444;
    position:static;
    left: 0;
    right:auto;
    }

}

.footer {
    color: rgb(102, 102, 102);
    text-align: left;
    padding: 15px;
    bottom: 0;
    width: 60%;
    position: fixed;          
    bottom: 0;               
    left: 50%;               
    transform: translateX(-50%);
}

.media{
    height: fit-content;
    max-width: fit-content;
    min-width: 40%;
}